# NPM
node_modules
package-lock.json

# Cypress
cypress/screenshots
cypress/snapshots/actual
cypress/snapshots/diff
results
cypress.env.json
test-results.xml

# Docker
mediawiki/extensions
mediawiki/skins
docker-compose.override.yml
